.title {
    font-size: 50px;
}

#params-nmr-1to2 {
    display: none;
}

/* Bootstrap mods */
.input-group-addon-width {
    min-width: 120px;
    text-align: left;
}

/* Convenience classes */
.top-buffer { 
    margin-top:50px; 
}

