{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <!-- <link href="{% static "bindsim_client/css/main.css" %}" rel="stylesheet" type="text/css" /> -->
    <!-- Site stylesheet to override vendor settings -->
    <link rel="stylesheet" href="http://supramolecular.echus.co:8000/static/css/base.css">
{% endblock %}

{% block js %}
    <!-- Highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static "bindsim_client/js/highcharts-themes/grid-light.js" %}"></script>
    <!-- Bindsim -->
    <script src="{% static "bindsim_client/js/bindsim.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row top-buffer text-right">
            <div id="control" class="col-xs-24 col-md-8"> 

                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-24">
                                <label for="selector" class="col-xs-8 control-label">Simulator:</label>
                                <div class="col-xs-16">
                                    <select id="selector" class="form-control">
                                        <option value="sim_nmr_1to1">NMR 1:1</option>
                                        <option value="sim_nmr_1to2">NMR 1:2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- row -->

                <div class="row">
                    <form id="params-nmr-1to1" class="form-horizontal">
                        <div class="form-group">
                            <label for="params-nmr-1to1-k1" class="col-xs-8 control-label">K<sub>a</sub></label>
                            <div class="input-group col-xs-16">
                                <input id="params-nmr-1to1-k1" name="k1" type="number" class="form-control" value="1000">
                                <span class="input-group-addon input-group-addon-width">M<sup>-1</sup></span>
                            </div>

                            <label for="params-nmr-1to1-h0_init" class="col-xs-8 control-label">[H]<sub>0</sub></label>
                            <div class="input-group col-xs-16">
                                <input id="params-nmr-1to1-h0_init" name="h0_init" type="number" class="form-control" value="0.001">
                                <span class="input-group-addon input-group-addon-width">M (initial)</span>
                            </div>

                            <label for="params-nmr-1to1-g0h0_final" class="col-xs-8 control-label">[G]<sub>0</sub>/[H]<sub>0</sub></label>
                            <div class="input-group col-xs-16">
                                <input id="params-nmr-1to1-g0h0_final" name="g0h0_final" type="number" class="form-control" value="20">
                                <span class="input-group-addon input-group-addon-width">(max)</span>
                            </div>

                            <label for="params-nmr-1to1-dh" class="col-xs-8 control-label">&#948;<sub>H</sub></label>
                            <div class="input-group col-xs-16">
                                <input id="params-nmr-1to1-dh" name="dh" type="number" class="form-control" value="8">
                                <span class="input-group-addon input-group-addon-width">ppm or Hz</span>
                            </div>

                            <label for="params-nmr-1to1-dhg" class="col-xs-8 control-label">&#948;<sub>HG</sub></label>
                            <div class="input-group col-xs-16">
                                <input id="params-nmr-1to1-dhg" name="dhg" type="number" class="form-control" value="9">
                                <span class="input-group-addon input-group-addon-width">ppm or Hz</span>
                            </div>
                        </div>
                    </form>

                    <form id="params-nmr-1to2" class="form-horizontal">
                        <div class="form-group">
                            <label for="params-nmr-1to2-k1" class="col-xs-8 control-label">K<sub>1</sub></label>
                            <div class="input-group col-xs-16">
                                <input id="params-nmr-1to2-k1" name="k1" type="number" class="form-control" value="10000">
                                <span class="input-group-addon input-group-addon-width">M<sup>-1</sup></span>
                            </div>

                            <label for="params-nmr-1to2-k2" class="col-xs-8 control-label">K<sub>2</sub></label>
                            <div class="input-group col-xs-16">
                                <input id="params-nmr-1to2-k2" name="k2" type="number" class="form-control" value="1000">
                                <span class="input-group-addon input-group-addon-width">M<sup>-1</sup></span>
                            </div>

                            <label for="params-nmr-1to2-h0_init" class="col-xs-8 control-label">[H]<sub>0</sub></label>
                            <div class="input-group col-xs-16">
                                <input id="params-nmr-1to2-h0_init" name="h0_init" type="number" class="form-control" value="0.001">
                                <span class="input-group-addon input-group-addon-width">M</span>
                            </div>

                            <label for="params-nmr-1to2-g0h0_final" class="col-xs-8 control-label">[G]<sub>0</sub>/[H]<sub>0</sub></label>
                            <div class="input-group col-xs-16">
                                <input id="params-nmr-1to2-g0h0_final" name="g0h0_final" type="number" class="form-control" value="20">
                                <span class="input-group-addon input-group-addon-width"></span>
                            </div>

                            <label for="params-nmr-1to2-dh" class="col-xs-8 control-label">&#948;<sub>H</sub></label>
                            <div class="input-group col-xs-16">
                                <input id="params-nmr-1to2-dh" name="dh" type="number" class="form-control" value="8">
                                <span class="input-group-addon input-group-addon-width">ppm or Hz</span>
                            </div>

                            <label for="params-nmr-1to2-dhg" class="col-xs-8 control-label">&#948;<sub>HG</sub></label>
                            <div class="input-group col-xs-16">
                                <input id="params-nmr-1to2-dhg" name="dhg" type="number" class="form-control" value="7">
                                <span class="input-group-addon input-group-addon-width">ppm or Hz</span>
                            </div>

                            <label for="params-nmr-1to2-dhg2" class="col-xs-8 control-label">&#948;<sub>HG<sub>2</sub></sub></label>
                            <div class="input-group col-xs-16">
                                <input id="params-nmr-1to2-dhg2" name="dhg2" type="number" class="form-control" value="9">
                                <span class="input-group-addon input-group-addon-width">ppm or Hz</span>
                            </div>
                        </div>

                    </form>
                </div> <!-- row -->

                <div class="row">
                    <form>
                        <div class="form-group">
                            <div class="col-xs-offset-20 col-xs-4">
                                <button id="button-plot" type="button" class="btn btn-primary btn-large">Plot</button>
                            </div>
                        </div>
                    </form>
                </div> <!-- row -->

            </div> <!-- control -->

            <div id="results" class="results col-xs-24 col-md-16">
                <div id="plot" class="col-xs-24">
                </div> <!-- plot -->
            </div> <!-- results -->

        </div> <!-- row -->

    </div> <!-- container -->






{% endblock %}
