{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Supramolecular - Bindsim</title>

        <!-- Global custom CSS -->
        <!-- <link href="{% static "compass/stylesheets/styles.css" %}" rel="stylesheet" type="text/css" /> -->

        {% block css %}
        {% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <header id="navbar-container" class="container-fluid">
            <div class="navbar navbar-head navbar-inverse">
                <div class="navbar-header">
                    <h1 class="navbar-brand">
                        <a href="/">
                            <span class="sr-only"></span>
                            Bindsim
                        </a>
                    </h1>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".js-navbar-header">
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                
                <h2 class="sr-only">Shortcuts</h2>
                <ul class="skip-links">
                    <li><a href="/" title="[Alt + 0]" accesskey="0">Go to home</a></li>
                    <li><a href="#page-navigation" title="[Alt + 1]" accesskey="1">Jump to navigation</a></li>
                    <li><a href="#page-content" title="[Alt + 2]" accesskey="2">Jump to content</a></li>
                    <li><a href="#page-footer" title="[Alt + 3]" accesskey="3">Contact</a></li>
                </ul>

                <div class="navbar-collapse collapse js-navbar-header">
                        <nav class="nav navbar-main navbar-left" id="page-navigation" role="navigation">
                            <h2 class="sr-only">Navigation</h2>
                            <ul class="nav navbar-nav">
                                <li class="child first">
                                    <a href="http://supramolecular.echus.co:8000/en/">
                                        <span>Back to Supramolecular Home</span>
                                    </a>
                                </li>
                                <!--
                                <li class="child children dropdown active last">
                                    <a href="/apps/" class="dropdown-toggle" data-toggle="dropdown">
                                        <span>Apps <span class="caret"></span></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">

                                        <li class="child first last">
                                            <a href="http://app.supramolecular.echus.co/bindfit/">
                                                <span>Bindfit</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                -->

                                <li class="divider" role="presentation"><span class="sr-only">Separator</span></li>
                            </ul>
                        </nav>
                        <ul class="nav nabar-nav navbar-right">
                            <li>
                                <a href="#" id="nav-logo-a">
                                    <!-- <img src="/static/img/logo-cbns%40print.png" id="nav-logo" class="hidden-md hidden-sm hidden-xs"> -->
                                    <img src="http://supramolecular.echus.co:8000/static/img/logo-cbns%40print.png" alt="" id="nav-logo" class="hidden-md hidden-sm hidden-xs">
                                </a>
                            </li>
                        </ul>
                </div> <!-- navbar-collapse -->
            </div> <!-- navbar -->
        </header>

        <!-- Page Content -->
        {% block content %}
        {% endblock %}
        <!-- /.container -->



        <!-- jQuery (required by Bootstrap) -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{% static "compass/javascripts/bootstrap.min.js" %}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
